@use "../custom";
@use "../components/mixins";
.companies {
  .row {
    display: grid;
    @include custom.media-breakpoint-up(md) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include custom.media-breakpoint-up(lg) {
      grid-template-columns: repeat(6, 1fr);
    }
    gap: 1rem;
    .img {
      padding: .2rem .6rem;
      @include custom.media-breakpoint-down(lg) {
        padding: 0.6rem;
        min-height: 3.7rem;
      }
      img {
        width: 80px;
        @include mixins.transition;
        &:hover {
          filter: grayscale(1);
        }
      }
    }
  }
}
